[submodule "a7p-py"]
	path = py
	url = https://github.com/o-murphy/a7p
[submodule "a7p-js"]
	path = js
	url = https://github.com/o-murphy/a7p-js
[submodule "a7p-dart"]
	path = dart
	url = https://github.com/o-murphy/a7p-dart
[submodule "a7p-lib"]
	path = a7p-lib
	url = https://github.com/o-murphy/a7p-lib
